@import "./ind_colum1.css";

@font-face {
    font-family: streetwear;
    src: url(assets/fonts/Streetwear.otf);
}

:root{
    --cafe: #1f140f;
    --gray: #a5a5a5;
    --white: white;
    --orange: #e45826;
    --blue: #003399;
    --green: #0cc665;
    --dark-yellow: #ffcc00;
    --rojo: #bb0b24;


    --fontBase: 'Poppins', sans-serif;
    --fontForm: 'Antonio', sans-serif;
    

}



*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: darkblue;
    background-image: url(assets/bg_index.jpg);
    background-size: cover;
    
}

.content{
    height: 100vh;
    display: flex;    
    border: 1px solid red;
    background-image: url(assets/brush.png) , cover; 

}


.brush img{
    
    
    height: 600px;
    position: relative;
    left: -100px;
}

.colum_image img{
    background: no-repeat;
    height: 100vh ;   
    
    
}

.colum_login .logo{
    display: flex;
    justify-content: center;
    
}

.colum_login .logo img{
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 50px 0px;
}

.colum_login{
    display: flex;
    flex-direction: column;
    
    width: 50%;

}

.logo{
    
}

.slogan{
    display: flex;    
    align-items: center;
    margin: 20px 0;
    border: 1px solid red;
    justify-content: center;
    position: relative;
    
}

.barbero img{
    width: 200px;
}

.caja-button{
    background: crimson;
}

.slogan span{
    font: var(--fontForm);
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    
    font-size: 40px;
    line-height: 40px;
    
}

.caja-button{
    display: flex;
    justify-content: center;
}

.slogan .img_dibujo{
    border: 1px solid red;
    display: flex;
    position:absolute ;
    left: 490px;
    top: 5px;
}